@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

$clr-primary: hsl(123, 93%, 36%);
$clr-secondary: hsla(123, 98%, 39%, 0.699);
$clr-gray-100: hsl(220, 14%, 96%);
$clr-gray-800: hsl(215, 28%, 17%);
$clr-gray-300: hsl(215, 28%, 17%);

:root {
  --clr-primary: #{$clr-primary};
  --clr-secondary: #{$clr-secondary};
  --clr-gray-100: #{$clr-gray-100};
  --clr-gray-800: #{$clr-gray-800};
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}




